#controls {
  margin: 20px 20px;
  width: 200px;
  float: left;
}

#controls table {
  color: #faebd7;
}

#canvas {
  float: left;
}

#buttons {
  float: left;
}

.container {
  height: 100%;
  background-image: url(src/assets/image/cloudy.jpg);
}
